<!-- Comments -->
{% if site.data.comments[page.slug] %}
    <h3>
    {% if site.data.comments[page.slug].size > 1 %}
      {{ site.data.comments[page.slug] | size }}
    {% endif %}
    Comments:
    </h3>
  {% assign comments = site.data.comments[page.slug] | sort %}
    {% for comment in comments %}
      <label>
        {% if comment[1].url %}
          <a href="{{ comment[1].url }}">
        {% endif %}
        <strong>{{ comment[1].name }}</strong>
        {% if comment[1].url %}
          </a>
        {% endif %}
      </label>
      <em>{{ comment[1].date | date: "%B %d, %Y" }}</em>
      <p>{{ comment[1].message | markdownify }}</p>
    {% endfor %}
{% endif %}
<!-- Comments Form -->
  <form method="POST" action="{{ site.staticman_url }}">
    <input name="options[redirect]" type="hidden" value="https://example.com">
    <input name="options[slug]" type="hidden" value="{{ page.slug }}">
      
    <input type="hidden" name="options[reCaptcha][siteKey]" value="6LfFLpodAAAAACC_u_bKH-RwEw3e_-Wg_blA_TVS">
    <input type="hidden" name="options[reCaptcha][secret]" value="gcEXYxC0waOoRlMRpx8zlnv3nLZ8MtLTRS1unuqMc3UAOXUSnKy1LFios98lGnrsMwuILwKAs5faC0GFhOMfyUsXLbE8GAv3hKZeathKtbjG1kwFU5htNzC4CSamMSh4XS18uX1I78b5YhLcWEwODTM5lVxREq9PEnbJxQEoL24=">

      
      <label>Name</label>
      <input name="fields[name]" type="text">
      <label>E-mail (optional)</label>
      <input name="fields[email]" type="email">
      <label>Website (optional)</label>
      <input name="fields[url]" type="url">
      <label>Message</label>
      <textarea style="width:100%" name="fields[message]" rows="12"></textarea>
      <small>Comments will appear after moderation.</small>
      
       <div 
    class="g-recaptcha" 
    data-sitekey="6LfFLpodAAAAACC_u_bKH-RwEw3e_-Wg_blA_TVS"
  ></div>
      
      <button type="submit">Submit comment</button>
  </form>
